In [1]:
import googlemaps
import os
import osmnx as ox
import networkx as nx
import folium
import pandas as pd

#importanto a API do google maps
gmaps = googlemaps.Client(key = "AIzaSyCy2Cfo_aMU7Gm5KtRIYjCVdLTSVl1sgOc")

#coordenadas do Campus Samambaia
campus_coords = (-16.603422, -49.265381)

# Definir o raio em metros
radius = 2000  # 2 km

# Coletar o grafo de ruas dentro do raio especificado
G = ox.graph_from_point(campus_coords, dist=radius, network_type='drive')

# Extrair nós e arestas
nodes, edges = ox.graph_to_gdfs(G)

In [2]:
edges.head()

                                           osmid  \
u         v          key
340270144 3095000770 0                 304930948
          4033851168 0                 465225861
          3677117783 0                 923759035
340270148 8540152564 0    [279248147, 279248148]
          4824435322 0                 490268036

                                                  name      highway  oneway  \
u         v          key
340270144 3095000770 0    Rua Maria Josefina Vaiandeli  residential   False
          4033851168 0               Avenida Nerópolis      primary   False
          3677117783 0               Avenida Nerópolis      primary   False
340270148 8540152564 0           [Rua 2, Rua Finlâdia]     tertiary   False
          4824435322 0                             NaN      primary    True

                         reversed   length  \
u         v          key
340270144 3095000770 0      False   77.840
          4033851168 0      False   60.101
          3677117783 0       True  159.108
340270148 8540152564 0      False  831.756
          4824435322 0      False    8.524

                                                                   geometry  \
u         v          key
340270144 3095000770 0    LINESTRING (-49.28369 -16.61871, -49.28298 -16...
          4033851168 0    LINESTRING (-49.28369 -16.61871, -49.28372 -16...
          3677117783 0    LINESTRING (-49.28369 -16.61871, -49.28367 -16...
340270148 8540152564 0    LINESTRING (-49.28056 -16.60347, -49.28056 -16...
          4824435322 0    LINESTRING (-49.28056 -16.60347, -49.28053 -16...

                            junction  ref maxspeed lanes bridge
u         v          key
340270144 3095000770 0           NaN  NaN      NaN   NaN    NaN
          4033851168 0           NaN  NaN      NaN   NaN    NaN
          3677117783 0           NaN  NaN      NaN   NaN    NaN
340270148 8540152564 0           NaN  NaN      NaN   NaN    NaN
          4824435322 0    roundabout  NaN      NaN   NaN    NaN

In [3]:
nodes.head()

,y,x,street_count,highway,geometry
osmid,,,,,
340270144,-16.618710,-49.283693,3,NaN,POINT (-49.28369 -16.61871)
340270148,-16.603469,-49.280561,3,NaN,POINT (-49.28056 -16.60347)
340270840,-16.621125,-49.283894,3,NaN,POINT (-49.28389 -16.62113)
340271710,-16.599199,-49.281975,3,NaN,POINT (-49.28198 -16.5992)
1046749480,-16.602250,-49.268520,3,NaN,POINT (-49.26852 -16.60225)

In [4]:
nodes

,y,x,street_count,highway,geometry
osmid,,,,,
340270144,-16.618710,-49.283693,3,NaN,POINT (-49.28369 -16.61871)
340270148,-16.603469,-49.280561,3,NaN,POINT (-49.28056 -16.60347)
340270840,-16.621125,-49.283894,3,NaN,POINT (-49.28389 -16.62113)
340271710,-16.599199,-49.281975,3,NaN,POINT (-49.28198 -16.5992)
1046749480,-16.602250,-49.268520,3,NaN,POINT (-49.26852 -16.60225)
...,...,...,...,...,...
11091467902,-16.613984,-49.258239,3,NaN,POINT (-49.25824 -16.61398)
11091486434,-16.616302,-49.257086,3,NaN,POINT (-49.25709 -16.6163)
11091486435,-16.616233,-49.256771,3,NaN,POINT (-49.25677 -16.61623)
11909852513,-16.613932,-49.274611,1,NaN,POINT (-49.27461 -16.61393)
11909852514,-16.613319,-49.275047,3,NaN,POINT (-49.27505 -16.61332)

In [5]:
def ajusting_weight_with_traffic(G,gmaps):
    #Realiza um for para cada inicio "u" e fim das arestas "v" do grafo
    for u,v,data in G.edges(data=True):

        #acessa as coordenadas de inicio e destino de cada aresta
        orig = (G.nodes[u]['y'], G.nodes[u]['x'])
        dest = (G.nodes[v]['y'], G.nodes[v]['x'])

        map_directions = gmaps.directions(orig, dest, mode="driving", departure_time="now")
        if map_directions:
            data['length'] = map_directions[0]['legs'][0]['duration_in_traffic']['value']
        return G
    
G = ajusting_weight_with_traffic(G,gmaps)
print(G)

MultiDiGraph with 879 nodes and 2155 edges

In [6]:
import osmnx as ox
import numpy as np
import random

points_of_interest = []

for i in range(0,4):
    random_integer = random.randint(0, len(G.nodes) - 1)
    print(random_integer)
    points_of_interest.append((nodes["y"].iloc[random_integer],	nodes["x"].iloc[random_integer]))
    print(random_integer)
    
print(points_of_interest)

#Caso vc queira testar uma solução especifica, descomente a linha abaixo e comente a linha acima
#points_of_interest = [(-49.2544046, -16.6073553), (-49.2739158, -16.5954372), (-49.2546095, -16.6130016), (-49.2471856, -16.6165731)]


point_x = []
point_y = []

for i in range(0,len(points_of_interest)):
    point_x.append(points_of_interest[i][1])
    point_y.append(points_of_interest[i][0])

vertices = [ox.nearest_nodes(G,point_x,point_y)]
print(vertices)

757
757
108
108
361
361
689
689
[(np.float64(-16.606852), np.float64(-49.2486812)), (np.float64(-16.612195), np.float64(-49.2468283)), (np.float64(-16.6030443), np.float64(-49.2557533)), (np.float64(-16.6134279), np.float64(-49.2508394))]
[[6189046981, 1425008608, 2632449902, 4826332480]]

In [7]:
nodes['y'].iloc[279]

np.float64(-16.6197246)

In [8]:
import itertools
import numpy as np
from scipy.optimize import linear_sum_assignment


def solving_tsp(G,vertices):

     # Criar matriz de distâncias
    distances = np.zeros((len(vertices), len(vertices)))
    for i, j in itertools.combinations(range(len(vertices)), 2):
        path_length = nx.shortest_path_length(G, vertices[i], vertices[j], weight='length')
        distances[i, j] = path_length
        distances[j, i] = path_length
    
    # Adicionar distâncias fictícias para um tour fechado
    dist_matrix = np.zeros((len(vertices) + 1, len(vertices) + 1))
    dist_matrix[:-1, :-1] = distances
    
    row_ind, col_ind = linear_sum_assignment(dist_matrix)
    route = [vertices[i] for i in col_ind if i < len(vertices)]
    
    return route

route = solving_tsp(G,vertices)
print(route)

[[6189046981, 1425008608, 2632449902, 4826332480]]

In [9]:
# Extrair coordenadas da rota
route_coords = [(G.nodes[node]['y'], G.nodes[node]['x']) for node in route[0]]
print("routes",route_coords)
# Criar o mapa com folium
m = folium.Map(location=campus_coords, zoom_start=14, tiles='cartodbpositron')

# Adicionar marcadores para os pontos de interesse
print("points_of_interest",points_of_interest)
for point in points_of_interest:
    folium.Marker(location=point).add_to(m)

# Adicionar a rota ao mapa
folium.PolyLine(route_coords, color='blue', weight=2.5, opacity=0.8).add_to(m)

# Salvar o mapa com a rota
m.save('map_with_optimized_route.html')
print(route_coords)

routes [(-16.606852, -49.2486812), (-16.612195, -49.2468283), (-16.6030443, -49.2557533), (-16.6134279, -49.2508394)]
points_of_interest [(np.float64(-16.606852), np.float64(-49.2486812)), (np.float64(-16.612195), np.float64(-49.2468283)), (np.float64(-16.6030443), np.float64(-49.2557533)), (np.float64(-16.6134279), np.float64(-49.2508394))]
[(-16.606852, -49.2486812), (-16.612195, -49.2468283), (-16.6030443, -49.2557533), (-16.6134279, -49.2508394)]